<div>
    <a href="/">Home</a>
    <a href="/movies">View All Movies</a>
    <a href="/movies/addMovie">Add a New Movie</a>
    <a href="/movies/deleteMovie">Delete a Movie</a>
    <a href="/movies/genres">Movie Genres</a>
    <a href="#"></a>
</div>